<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/cv.css">
    <script src="../static/cv.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV_DanaElias</title>
</head>

<body>
  
    <div class = "GridContainer">
        <div class = "contact_info">
            <div id="contact-link">
                <a href="/contact">Contact Me &raquo</a>
            </div>
            <h1>Dana Elias</h1>
            <h2> E-Mail: danaeliase@gmail.com</h2> 
            <h2> Mobile: 052-9529392</h2>
            <a href="https://www.linkedin.com/in/dana-elias-864a86218/" class="fa fa-linkedin" target="_blank"></a>
            <a href="/static/CV-Dana%20Elias.pdf" class="fa fa-download"></a>

        </div>
        <div class = "Experience">
            <button class="button" onclick= "showExperience()">Experience</button>
            <p class = Detail id =Detail1></p>
        </div>
        <div class = "Skills">
            <button class="button" onclick= "showSkills()">Skills</button>
            <p class = Detail id =Detail2></p>
        </div>
      

  </div>
    
    
</body>
</html>

<!--image-->
<!--img src="flowers.jpeg" alt="Flowers"-->
