<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="../static/cv.css">
    <title>{% block title %}{% endblock %}</title>
    <a href="/">CV</a>| <a href="/contact">Contact me</a>|<a href="/assignment8">assignment8</a>|
    <a href="/assignment9">assignment9</a>|<a href="/assignment10">assignment10</a>|
    <a href="/assignment11/outer_source">assignment11</a>|<a href="/assignment12/restapi_users">assignment12</a>

    <hr>
    {% if session.user_name %}
        <h2 style="text-align:center" >welcome {{ session.user_name }}</h2>
    {% endif %}
</head>
<body>

</body>
</html>